html {
    height: 200vh;
}
h1 {
    text-align: center;
}

main {
    position: fixed;
    width: 450px;
    height: 760px;
    left: 34%;
    top: 80px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: blue;
    /*align-content: center;*/
    
    /*background-color: black;*/  
}
div {
    background-color: darkcyan;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    /*vertical-align: middle;*/
}

.display {
    border: 2px solid black;
    padding: 5%;
    background-color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.calc {
    position: fixed;
    right: 37%;
    top: 95px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 5px;
    grid-row: 3 / 7;
    grid-column: 1 / 5;
}

.logo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.calctitle {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    padding: 35px 5px;
}

.func, .equalsign {
    color: yellow;
    padding: 20px;
}

.equalsign {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
    padding: 77px 20px;
}

.num {
    padding: 20px;
    border-radius: 25px;
}

.num:hover, .func:hover, .equalsign:hover {
    background-color: palegreen;
    cursor: pointer;
}